#components-layout-demo-custom-trigger .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.ant-layout {
  display: flex;
  width: 100vw;
  .layout-content {
    flex: 1;
  }
}
.ant-layout-header {
  padding: 0 20px;
}
.layout-content {
  width: 100%;
  display: flex;
  flex-flow: column;
  .header {
    background: #fff;
  }
  .content {
    flex: 1;
  }
}

.ant-layout-sider-children {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
// .ant-menu {
//   overflow: auto;
//   &::-webkit-scrollbar {
//     display: none;
//   }
// }

.layout-sider {
  height: 100vh;
  &::-webkit-scrollbar {
    display: none;
  }

  .sider-menu {
    flex: 1;
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
.logo {
  color: #fff;
  text-align: left;
  padding: 20px 0 20px 24px;
}
