.write-blog-wrap {
  display: flex;
  flex-direction: row;
  height: 100%;
  background: #fff;
  .area-item {
    flex: 1;
    // width: 50%;
    border: 1px #e1e1e1 solid;
    height: 100%;
    display: flex;
    flex-flow: column;
    box-sizing: border-box;
  }
  .write-area {
    .write-area-blog-title {
      font-size: 30px;
      font-weight: bold;
    }
    .input-area {
      // height: 100%;
      flex: 1;
    }
  }
  .view-area {
    padding: 20px;
    .view-area-blog-title {
      width: 100%;
      text-align: center;
      height: 50px;
      font-size: 30px;
      font-weight: bold;
      overflow: auto;
    }
  }
}
