.app {
  display: flex;
  // overflow: hidden;
  // 布局样式
  .layout {
    .ant-layout-sider {
      min-height: 100vh;
    }
  }
  :-webkit-any(article, aside, nav, section) h1 {
    font-size: 1.8em;
  }
}

.dark {
  background: #001529 !important;
}

.light {
  background: #fff !important;
}

.one-dark {
  background: #344058 !important;
}

.shallow-red {
  background: #50314f !important;
}

.ant-menu-inline {
  border-right: none !important;
}
